<div class="thumbnail">
    <a routerLink="/movie/{{movie.id}}"><img alt="poster" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path"> </a>
    <a routerLink="/movie/{{movie.id}}"><img alt="noposter" src="assets/img/abstract-image.jpg" *ngIf="!movie.poster_path"> </a>
    <div class="caption">
        <h4 class="text-ellipsis">
            <a routerLink="/movie/{{movie.id}}" title="{{movie.title}}">{{movie.title}}</a>
        </h4>
        <p><strong i18n="@@movie-card.releaseDate">Release Date: </strong>{{movie.release_date | date}}</p>
        <p>
            <a routerLink="/movie/{{movie.id}}" i18n="@@movie-card.viewDetails">View details &raquo;</a>
            <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
        </p>
    </div>
</div>