<div *ngIf="series">
    <h3 class="orange-text" i18n="@@popular-series.title">Popular Series</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of series; let i = index;">
            <div class="thumbnail">
                <img alt="poster" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}" *ngIf="serie.poster_path">
                <img alt="noposter" src="assets/img/abstract-image.jpg" *ngIf="!serie.poster_path">
                <div class="caption">
                    <h4 class="text-ellipsis">
                        <a routerLink="../{{serie.id}}" title="{{serie.title}}">{{serie.name}}</a>
                    </h4>
                    <p><strong i18n="@@popular-series.firstAirDate">First Air Date: </strong>{{serie.first_air_date}}</p>
                    <p>
                        <a routerLink="../{{serie.id}}" i18n="@@popular-series.viewDetails">View details &raquo;</a>
                        <small class="label label-success pull-right">
              {{serie.vote_average}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>