<ngxmovie-movie-search (searchRes)='searchRes=$event'></ngxmovie-movie-search>
<ngxmovie-search-results [searchRes]='searchRes'></ngxmovie-search-results>


<h3 class="orange-text" i18n="@@movies.topRatedMovies">Top Rated Movies</h3>
<div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of topRatedList; let i = index;">
        <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
    </div>
</div>

<h3 class="orange-text" i18n="@@movies.popularMovies">Popular Movies</h3>
<div class="row is-flex">
    <div class="col-sm-3" *ngFor="let movie of popularList; let i = index;">
        <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
    </div>
</div>