<div class="row" *ngIf="person">
    <div class="col-md-3">
        <div class="thumbnail">
            <a routerLink="detail"><img alt="person" src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}" *ngIf="person.profile_path"></a>
            <img alt="noperson" src="../assets/img/abstract-image.jpg" *ngIf="!person.profile_path">
            <div class="caption">
                <h4 class="text-ellipsis">
                    {{person.name}}
                </h4>
                <p><strong i18n="@@actor.birthday">Birthday: </strong>{{person.birthday}}</p>
                <p><strong i18n="@@actor.placeOfBirth">Place of Birth: </strong>{{person.place_of_birth}}</p>
                <p>
                    <strong i18n="@@actor.popularity">Popularity</strong>
                    <small class="label label-success pull-right">
              {{person.popularity}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
        <h3 class="orange-text" i18n="@@actor.movies"> Movies</h3>
        <div class="row is-flex">
            <div class="col-sm-3" *ngFor="let movie of movies; let i = index;">
                <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
            </div>
        </div>
    </div>
</div>